services:
  data-ingestion:
    container_name: data-ingestion
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "7000:7000"
    environment:
      - KAFKA_HOST=kafka
      - KAFKA_PORT=${KAFKA_PORT}
      - KAFKA_TOPIC=network.data.ingested
    networks:
      - nwdaf-network

networks:
  nwdaf-network:
    external: true
